<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="apps.novin.tvcompanion">

    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.Main">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ShowDetailActivity"
            android:theme="@style/AppTheme.Details" />

        <service
            android:name=".AuthenticatorService"
            android:exported="true"
            android:permission="apps.novin.tvcompanion.authenticate">
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator" />
            </intent-filter>

            <meta-data
                android:name="android.accounts.AccountAuthenticator"
                android:resource="@xml/authenticator" />
        </service>

        <provider
            android:name=".db.ShowEntityContentProvider"
            android:authorities="apps.novin.tvcompanion.db.provider"
            android:exported="false"
            android:label="show provider"
            android:syncable="true" />
        <provider
            android:name=".db.EpisodeEntityContentProvider"
            android:authorities="apps.novin.tvcompanion.db.provider"
            android:exported="false"
            android:label="episode provider"
            android:syncable="true" />

        <service
            android:name=".SyncService"
            android:exported="true"
            android:permission="apps.novin.tvcompanion.sync">
            <intent-filter>
                <action android:name="android.content.SyncAdapter" />
            </intent-filter>

            <meta-data
                android:name="android.content.SyncAdapter"
                android:resource="@xml/syncadapter" />
        </service>

        <activity android:name=".LoginActivity"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="oauthredirect"
                    android:scheme="tvcompanion.novin.apps" />
            </intent-filter>
        </activity>
    </application>

</manifest>